.navbar#id
  .navbar-inner
    .container
      button.btn.btn-navbar(
        type="button"
        data-toggle="collapse"
        data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/") Star
      ul.nav
        li
          a(href="/timeline") Timeline
        li
          a(href="/history") History
        li
          a(href="/stars") Stars

