.pagination
  - limit = +limit
  - count = +count
  - page = +page
  - var lastPage = Math.ceil(count / limit)
  ul
    li
      a(href="?" + ("limit=" + limit) + ("&page=" + 1)) «

    - if (page - 2 > 0)
      li
        a(href="?" + ("limit=" + limit) + ("&page=" + (page - 2)))= page - 2

    - if (page - 1 > 0)
      li
        a(href="?" + ("limit=" + limit) + ("&page=" + (page - 1)), rel="prev")= page - 1

    li.disabled
      span= page + 0

    - if (page + 1 <= lastPage)
      li
        a(href="?" + ("limit=" + limit) + ("&page=" + (page + 1)), rel="next")= page + 1

    - if (page + 2 <= lastPage)
      li
        a(href="?" + ("limit=" + limit) + ("&page=" + (page + 2)))= page + 2

    li
      a(href="?" + ("limit=" + limit) + ("&page=" + lastPage)) »
